.build-manifest-text {
	font-family: monospace !important;
	min-height: 250px;
}
.build-status {
	display: inline-block;
	width: 90px;
	text-align: center;
	border-radius: 3px;
	color: #fff;

	svg {
		fill: #fff;
		width: 15px;
		vertical-align: middle;
	}
}
.build-queued {
	background: @blue-gray;
}
.build-running {
	background: @orange;
}
.build-passed {
	background: #409540;
}
.build-failed {
	background: @red;
}
.tag {
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	color: #fff;
	background: @blue;
}
.tag:hover {
	text-decoration: none;
	background: @blue-light;
}
.build-manifest {
	background: #222;
	color: #fff;
	padding: 10px;
	counter-reset: line;
}
