.button {
	cursor: pointer;
	outline: none;
	border: none;
	font-family: sans-serif;
	font-size: 14px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
}
.button:hover {
	text-decoration: none;
}
.button-primary {
	color: #fff;
	background: #3da83d;
}
.button-primary:hover {
	background: #2c972c;
}
