.code {
	background: @blue-gray-dark;
	color: #fff;
	white-space: pre-wrap;
	width: 100%;
	font-family: monospace;
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;

	.line-number {
		text-align: right;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		min-width: 30px;
		width: 1%;
		padding-left: 10px;
		padding-right: 10px;
		line-height: 20px;

		a {
			display: block;
			color: rgba(255, 255, 255, 0.3);
		}
	}

	.line {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 20px;
	}

	.line:target {
		background: @blue-gray;
	}
}
