.dashboard {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 225px;
		background: @blue-gray;

		.sidebar-header {
			color: #fff;
			padding: 20px;
			background: @blue-gray-dark;

			.logo {
				margin-top: -5px;
				margin-right: 10px;
				display: inline-block;
				vertical-align: middle;

				.left {
					margin-left: 3px;
					display: inline-block;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 25px 0px 0px 15px;
					border-color: transparent transparent transparent #fff;
				}

				.right {
					margin-left: 3px;
					display: inline-block;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0px 0px 25px 15px;
					border-color: transparent transparent #fff transparent;
				}
			}

			h2 {
				display: inline-block;
			}
		}

		.sidebar-nav {
			list-style: none;

			li {
				display: block;

				a, button {
					display: block;
					color: rgba(255, 255, 255, 0.5);
					padding: 15px;

					svg {
						margin-right: 3px;
						display: inline-block;
						vertical-align: middle;
						fill: rgba(255, 255, 255, 0.5);
						width: 15px;
					}

					span {
						margin-top: 2px;
						display: inline-block;
						vertical-align: middle;
					}
				}

				button {
					width: 100%;
					border: none;
					text-align: left;
					background: rgba(0, 0, 0, 0);
				}

				a:hover, a.active, button:hover {
					text-decoration: none;
					background: @blue-gray-dark;
					color: #fff;

					svg {
						fill: #fff;
					}
				}
			}

			li.sidebar-nav-header {
				padding: 15px;
				font-weight: bold;
				color: #fff;
			}
		}
	}
}
.dashboard-header {
	margin-bottom: 10px;

	h1 {
		float: left;

		.back {
			margin-top: 2px;
			display: inline-block;
			vertical-align: middle;

			svg {
				fill: #7f7f7f;
			}
		}

		.back:hover {
			text-decoration: none;

			svg {
				fill: #444;
			}
		}

		small {
			margin-top: 10px;
			display: block;
			font-size: 16px;
			color: rgba(0, 0, 0, 0.5);
		}
	}

	.dashboard-actions {
		float: right;
		list-style: none;

		li {
			display: inline;

			a {
				cursor: pointer;
				display: inline-block;
			}
		}
	}
}
.dashboard-nav {
	list-style: none;

	li {
		display: inline;

		a {
			display: inline-block;
			padding: 15px;
			color: #9f9f9f;

			svg {
				margin-right: 3px;
				width: 20px;
				vertical-align: middle;
				display: inline-block;
				fill: #9f9f9f;
			}

			span {
				margin-top: 2px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		a:hover, a.active {
			text-decoration: none;
			color: @blue-gray-dark;

			svg {
				fill: @blue-gray-dark;
			}
		}
	}
}
.dashboard-content {
	margin-left: 225px;
	padding: 20px;
}
