.form-field + .form-field {
	margin-top: 15px;
}
.form-field {
	overflow: auto;

	.label {
		margin-bottom: 5px;
		display: block;
		font-weight: bold;

		small {
			color: rgba(0, 0, 0, 0.5);
		}
	}

	.form-error {
		margin-top: 5px;
		color: #ff4343;
		min-height: 20px;
	}

	.form-text {
		font-family: @system-fonts;
		font-size: 14px;
		padding: 10px;
		outline: none;
		border-radius: 3px;
		box-sizing: border-box;
		width: 100%;
		border: solid 1px #e4e4e4;
	}

	.form-text:focus {
		border: solid 1px #c2c2c2;
	}

	.form-code {
		min-height: 250px;
		font-family: monospace;
	}

	textarea.form-text {
		min-width: 100%;
		max-width: 100%;
	}

	.form-option + .form-option {
		margin-top: 10px;
	}

	.form-option {
		display: block;
		cursor: pointer;
		overflow: auto;

		.form-selector {
			margin-right: 5px;
			display: inline-block;
			float: left;
			outline: none;
		}

		svg {
			margin-right: 5px;
			float: left;
			fill: rgba(0, 0, 0, 0.4);
		}
	}

	.disabled {
		color: #aaa;
		cursor: not-allowed;

		svg {
			fill: #aaa;
		}
	}
}
