@import "variables.less";
form.search {
	margin-bottom: 10px;

	.form-field {
		.text {
			max-width: 250px;
		}

		a {
			color: @gray;

			svg {
				width: 15px;
				vertical-align: middle;
				fill: @gray;
			}
		}

		a:hover {
			text-decoration: none;
			color: @gray-dark;

			svg {
				fill: @gray-dark;
			}
		}
	}
}
.form-error {
	margin-bottom: 10px;
	color: @red;
}
.form-field + .form-field {
	margin-top: 10px;
}
.form-field {
	overflow: auto;

	.label {
		margin-bottom: 5px;
		display: block;
		font-weight: bold;

		small {
			color: rgba(0, 0, 0, 0.6);
		}
	}

	.error {
		margin-top: 3px;
		color: @red;
		min-height: 20px;
	}

	.text {
		font-family: sans-serif;
		font-size: 14px;
		padding: 7px;
		outline: none;
		border-radius: 3px;
		box-sizing: border-box;
		width: 100%;
		border: solid 1px @gray-light;
		background: #fafafa;
		box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.075);
	}

	textarea.text {
		min-width: 100%;
		max-width: 100%;
	}

	.text:focus {
		border: solid 1px @gray;
	}

	.option + .option {
		margin-top: 10px;
	}

	.option {
		display: block;
		cursor: pointer;
		overflow: auto;

		.selector {
			margin-right: 5px;
			display: inline-block;
			float: left;
			outline: none;
		}

		svg {
			margin-right: 5px;
			float: left;
			fill: rgba(0, 0, 0, 0.4);
		}

		.description {
			color: rgba(0, 0, 0, 0.6);
		}
	}
}
