* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 14px;
	background: #eee;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #146de0;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
@import "brand.less";
@import "button.less";
@import "dashboard.less";
@import "form.less";
@import "panel.less";
