* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 14px;
	color: #323232;
	background: #fff;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: @blue;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
.right {
	float: right;
}
@import "badge.less";
@import "brand.less";
@import "button.less";
@import "dashboard.less";
@import "form.less";
@import "table.less";
