@blue:           #146de0;
@blue-light:     #257ef0;
@blue-gray:      #383e51;
@blue-gray-dark: #272b39;
@gray:           #b2b2b2;
@gray-dark:      #a1a1a1;
@gray-light:     #dfdfdf;
@red:            #e72626;
@orange:         #f07527;
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 14px;
	color: #323232;
	background: #fff;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: @blue;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
@import "build.less";
@import "button.less";
@import "dashboard.less";
@import "form.less";
@import "logo.less";
@import "table.less";
@import "util.less";
