@import "variables.less";
.panel + .panel {
	margin-top: 10px;
}
.panel {
	background: #fff;
	border-radius: 3px;
	border-right: solid 1px @gray-light;
	border-bottom: solid 1px @gray-light;
	padding: 10px;
}
