.panel + .panel {
	margin-top: 10px;
}
.panel {
	background: #fff;
	border-radius: 3px;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding: 10px;
}
.panel-slim {
	margin: 0 auto;
	max-width: 600px;
}
