.table {
	border-collapse: collapse;
	width: 100%;

	th {
		padding: 15px;
		text-align: left;
	}

	td {
		border-top: solid 1px @gray-light;
		padding: 15px;

		.info {
			color: rgba(0, 0, 0, 0.6);
		}
	}

	td.align-right {
		text-align: right;
	}
}
