.table {
	border-collapse: collapse;
	width: 100%;

	th {
		padding: 10px;
		text-align: left;
	}

	td {
		border-top: solid 1px @gray-light;
		padding: 10px;
	}

	td.align-right {
		text-align: right;
	}
}
