.table {
	border-collapse: collapse;
	width: 100%;

	td, th {
		padding: 10px;

		svg {
			width: 15px;
		}
	}

	th {
		background: rgba(0, 0, 0, 0.03);
		border-bottom: solid 1px #e4e4e4;
		text-align: left;
		color: rgba(0, 0, 0, 0.5);
		font-weight: normal;
	}

	tr {
		border-bottom: solid 1px #e4e4e4;
	}

	tr:last-child {
		border-bottom: none;
	}

	.cell-pill {
		width: 100px;
	}

	.cell-date {
		text-align: right !important;
		width: 250px;
	}
}
