.overflow {
	overflow: auto;
}
.muted {
	color: #9f9f9f;

	svg {
		fill: #9f9f9f;
	}
} 
.align-right {
	text-align: right;
}
.separator {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #cfcfcf;
}
.slim {
	margin: 0 auto;
	max-width: 600px;
}
.right {
	float: right;
}
