.overflow {
	overflow: auto;
}
.muted {
	color: #9f9f9f;

	svg {
		fill: #9f9f9f;
	}
} 
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.separator {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #cfcfcf;
}
.slim {
	margin: 0 auto;
	max-width: 600px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.w-90 {
	width: 90px;
}
.mb-10 {
	margin-bottom: 10px;
}
.pr-5 {
	padding-right: 5px;
}
.pl-5 {
	padding-left: 5px;
}
