@blue:           #146de0;
@blue-light:     #257ef0;
@blue-gray:      #383e51;
@blue-gray-dark: #272b39;
@gray:           #b2b2b2;
@gray-dark:      #a1a1a1;
@gray-light:     #dfdfdf;
@red:            #e72626;
@orange:         #f07527;
