@blue-gray:      #383e51;
@blue-gray-dark: #272b39;
@red:            #c64242;
@green:          #269326;
@blue:           #61a0ea;
@system-fonts:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Sego UI Symbol";
