<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/assets/main.css"/>
		{{if eq .Title "Readme"}}
			<title>Djinn Docs</title>
		{{else}}
			<title>Djinn Docs - {{ .Title }}</title>
		{{end}}
	</head>
	<body>
		<div class="doc-content">
			<div class="doc-wrap">
				<div class="markdown">{{ .Document }}</div>
			</div>
		</div>
		<div class="sidebar">
			<div class="sidebar-header">
				<h2>Djinn Docs</h2>
			</div>
			<ul class="sidebar-nav">
				<li><a href="/" {{if eq .Path "/"}}class="active"{{end}}>Documentation Home</a></li>
				<li class="sidebar-nav-header">USER</li>
				<li><a href="/user" {{if eq .Path "/user"}}class="active"{{end}}>Overview</a></li>
				<li><a href="/user/introduction" {{if eq .Path "/user/introduction"}}class="active"{{end}}>Introduction</a></li>
				<li><a href="/user/the-basics" {{if eq .Path "/user/the-basics"}}class="active"{{end}}>The Basics</a></li>
				<li><a href="/user/builds" {{if eq .Path "/user/builds"}}class="active"{{end}}>Builds</a></li>
				<li><a href="/user/namespaces" {{if eq .Path "/user/namespaces"}}class="active"{{end}}>Namespaces</a></li>
				<li><a href="/user/drivers" {{if eq .Path "/user/drivers"}}class="active"{{end}}>Drivers</a></li>
				<li><a href="/user/manifest" {{if eq .Path "/user/manifest"}}class="active"{{end}}>Manifest</a></li>
				<li><a href="/user/images" {{if eq .Path "/user/images"}}class="active"{{end}}>Images</a></li>
				<li><a href="/user/objects" {{if eq .Path "/user/objects"}}class="active"{{end}}>Objects</a></li>
				<li><a href="/user/keys" {{if eq .Path "/user/keys"}}class="active"{{end}}>Keys</a></li>
				<li><a href="/user/variables" {{if eq .Path "/user/variables"}}class="active"{{end}}>Variables</a></li>
				<li><a href="/user/offline-runner" {{if eq .Path "/user/offline-runner"}}class="active"{{end}}>Offline Runner</a></li>
				<li class="sidebar-nav-header">API</li>
				<li><a href="/api" {{if eq .Path "/api"}}class="active"{{end}}>Overview</a></li>
				<li><a href="/api/builds" {{if eq .Path "/api/builds"}}class="active"{{end}}>Builds</a></li>
				<li><a href="/api/images" {{if eq .Path "/api/images"}}class="active"{{end}}>Images</a></li>
				<li><a href="/api/invites" {{if eq .Path "/api/invites"}}class="active"{{end}}>Invites</a></li>
				<li><a href="/api/keys" {{if eq .Path "/api/keys"}}class="active"{{end}}>Keys</a></li>
				<li><a href="/api/namespaces" {{if eq .Path "/api/namespaces"}}class="active"{{end}}>Namespaces</a></li>
				<li><a href="/api/oauth" {{if eq .Path "/api/oauth"}}class="active"{{end}}>OAuth</a></li>
				<li><a href="/api/objects" {{if eq .Path "/api/objects"}}class="active"{{end}}>Objects</a></li>
				<li><a href="/api/variables" {{if eq .Path "/api/variables"}}class="active"{{end}}>Variables</a></li>
				<li class="sidebar-nav-header">ADMIN</li>
				<li><a href="/admin" {{if eq .Path "/admin"}}class="active"{{end}}>Overview</a></li>
				<li><a href="/admin/building" {{if eq .Path "/admin/building"}}class="active"{{end}}>Building</a></li>
				<li><a href="/admin/scheduler" {{if eq .Path "/admin/scheduler"}}class="active"{{end}}>Scheduler</a></li>
				<li><a href="/admin/server" {{if eq .Path "/admin/server"}}class="active"{{end}}>Server</a></li>
				<li><a href="/admin/worker" {{if eq .Path "/admin/worker"}}class="active"{{end}}>Worker</a></li>
				<li><a href="/admin/deployments" {{if eq .Path "/admin/deployments"}}class="active"{{end}}>Deployments</a></li>
			</ul>
		</div>
	</body>
</html>
